#!/usr/bin/make -f

%:
	dh $@

clean:
	dh_clean

binary binary-indep:
	dh $@ --before dh_auto_configure
	./configure --prefix=/usr --disable-xrootd --enable-rpath
	( echo -n misc:Features= ; grep 'Result: Enabled support for' config.log|cut -d ' ' -f 5- ) >> debian/libroot.substvars
	dh $@ --after dh_auto_configure

