#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	dh_auto_build --parallel

override_dh_auto_configure:
	./configure --prefix=/usr --disable-xrootd --enable-rpath
	echo -e misc:Features= >> libroot.substvars
	grep 'Result: Enabled support for' config.log|cut -d ' ' -f 5- >> libroot.substvars
